<div class="form-container">
  <div class="form-content box">
    <div class="form-title box">

      <h2>LOG IN</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      </div>
    
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    
      <div class="actions">
        <%= f.submit "SUBMIT" %>
      </div>
    <% end %>
    
    <p>
      If you are a new user, please <%= link_to "sign up", new_user_registration_path %>.
    </p>
  </div>
</div>
